{% extends 'Reel_Life/base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block body %}
    <style>
        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
        }

        table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
        }

        table tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
        }

        table th,
        table td {
            padding: .625em;
            text-align: center;
        }

        table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

        @media screen and (max-width: 600px) {
            table {
                border: 0;
            }

            table caption {
                font-size: 1.3em;
            }

            table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }

            table td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

            table td::before {
                /*
                * aria-label has no advantage, it won't be read inside a table
                content: attr(aria-label);
                */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            table td:last-child {
                border-bottom: 0;
            }
        }
    </style>
    <div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table>
                    <thead>
                    <tr>
                        <th scope="col">Addons</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cart in carts %}
                        <tr>
                            <td data-label="Order">
                                {% for item in cart.order.items %}
                                    <p><span>{{ forloop.counter }}. </span>{{ item }}</p>
                                {% endfor %}
                            </td>
                            <td data-label="Quantity">
                                <form class="form-group" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="up" value="{{ cart.id }}">
                                    <input name="quantity" class="form-control" min="1" value="{{ cart.quantity }}" type="number">
                                    <button class="btn btn-warning m-1" name="update" type="submit">
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                </form>
                            </td>
                            <td data-label="Price">{{ cart.get_price }}</td>
                            <td data-label="Action">
                                <button class="btn" onclick="window.location.href='{% url "App_main:delete" pk=cart.id %}'">
                                    <i style="color: darkred; font-size: 35px" class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
{% endblock %}