{% extends 'Reel_Life/base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block body %}
    <style>
     H3{
         border: 1px solid darkred;
         border-radius: 10px;
         height: 60px;
         padding: 10px;
     }
     H3 a{
         text-decoration: none!important;

     }
     H3:hover{
         font-size: 36px;
         height: 65px;
         padding: 10px;
         transition-delay: 0.5ms;

     }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <img src="{% static 'images/logo_animation.gif' %}" alt="animation" width="200" height="200">
                <H3 style="margin-bottom: 50px"><a href="{% url 'App_main:prepare' %}" style="color: darkred">Start Preparing!!!</a></H3>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}